/* Themes */

.ayu {
    --codelink-bg: #232930;
    --codelink-border: #464e59;
}

.coal {
    --codelink-bg: #4a4a4a;
    --codelink-border: #a9a9a9;
}

.light {
    --codelink-bg: #f0feeb;
    --codelink-border: #e9e9e9;
}

.navy {
    --codelink-bg: #24262b;
    --codelink-border: #14191f;
}

.rust {
    --codelink-bg: #fff2e3;
    --codelink-border: #d2d2d2;
}

blockquote.code-link {
    background-color: var(--codelink-bg);
    border-top: .1em solid var(--codelink-border);
    border-bottom: .1em solid var(--codelink-border);
}