name: Code Samples Compile

on:
  pull_request:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sample_path:
          [
            rust-sokoban-01,
            rust-sokoban-02,
            rust-sokoban-03,
            rust-sokoban-04,
            rust-sokoban-05,
            rust-sokoban-06,
            rust-sokoban-07,
            rust-sokoban-08,
          ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: sudo apt-get install libudev-dev libasound2-dev
      - name: Build ${{ matrix.sample_path }}
        run: cd code/${{ matrix.sample_path }} && cargo check
